<%= form_with(model: lawsuit, local: true, class: 'mui-form') do |form| %>
  <% if lawsuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lawsuit.errors.count, "error") %> prohibited this lawsuit from being saved:</h2>

      <ul>
      <% lawsuit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mui-textfield">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="mui-textfield">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="mui-textfield">
    <%= form.label :eligibility %>
    <%= form.text_area :eligibility %>
  </div>

  <div class="mui-textfield">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="mui-textfield">
    <%= form.label :settlement %>
    <%= form.number_field :settlement %>
  </div>

  <div class="mui-textfield">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="mui-textfield">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :class => "mui-btn mui-btn--primary"%>
  </div>
<% end %>
