<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lawsuit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lawsuit.description %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= @lawsuit.eligibility %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @lawsuit.completed %>
</p>

<p>
  <strong>Settlement:</strong>
  <%= @lawsuit.settlement %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @lawsuit.deadline %>
</p>

<% if @user == @lawsuit.user %>
<%= link_to 'Edit', edit_lawsuit_path(@lawsuit) %> |
<% end %>
<%= link_to 'Back to All Lawsuits', lawsuits_path, :class => 'mui-btn mui-btn--primary'%>
<%= link_to 'Back to Dashboard', '/', :class => 'mui-btn mui-btn--primary'%>
